//Font
$primaryFontStyle: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

//Primary Color
$primaryColorWhite: white;
$primaryColorGray: Gray;
$primaryColorRed: red;
$primaryColorPurple: rebeccapurple;

// Title
$colorTitle1: rgb(77, 1, 77);


// Shadow
$boxFormShadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;